### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#number of players: do SN to count the names, w/o counting duplicate use unique
#when using unique use len
players= len(purchase_data["SN"].unique())

#creat a variablr that'll hold the important columns!
player2= purchase_data[["Gender", "SN", "Age"]]

# Create a data frame
count = pd.DataFrame({"players count":[players]})
count

   players count
0            576

In [3]:
player2= player2.drop_duplicates()
player2

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#number of unique items
unique_items = len(purchase_data["Item ID"].unique())
#unique_items

#average price
#name=df[].mean()
Average_Price = purchase_data["Price"].mean()

#Number of Purchases
#same formula^^
Number_of_Purchases = purchase_data["Purchase ID"].count()

#sum
#same same
total_revenue = purchase_data["Price"].sum()


#purchase_data["Number of Unique Items"]= len(purchase_data["Item ID"].unique())?
    #^no!
#make new dataframe, do method 1: list of dictionaries
#words not in quotes belong in brackets
#assign names to bracket values in a dictionary

#use pd.DataFrame to make a table from the dict!!! otherwise it wont be organized

summ_df = pd.DataFrame({"unique items": [unique_items],
               "Average Price": [Average_Price],
               "Number of Purchases" : [Number_of_Purchases],
               "total revenue" :[total_revenue]})
summ_df

#  add dollars and 2 decimals for price and revenue
    
#combine in a single code!
summ_df.style.format({"Average Price": "${:.2f}", "total revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
#Total count 
#make a variable that'll hold the total to use for calculations
allGender= purchase_data["SN"].count()

# count for sum
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
other = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

# calc for percent

malecalc= ((malecount/allGender)*100)
femalecalc= ((femalecount/allGender)*100)
othercalc= ((other/allGender)*100)

#make new dataframe to compile results

genders = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                        "Total Count": [malecount, femalecount, other],#no quotations, they hold the count
                        "Percentage of Players": [malecalc, femalecalc, othercalc]
                       })

genders.style.format({"Percentage of Players": "{:.2f}%" })


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Purchase analysis for all genders
#same formats just change names and .formulas. use count, mean, sum respectively
#Purchase Count
#use price and gender
#use count to count total of each gender 
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
othercount = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

# avg purchase price
# use .mean to get mean
malemean = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
femalemean = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
othermean = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()


#purchase total per gender
#use .sum to sum total purchase
malesum = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
femalesum = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
othersum = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

#avg purchase by  the total poeple in a gender
#use variables ^^ to calculate
#use the sum of total purchase per gender and divide by the count per gender so...
# use malesum/malecount
avgpergender_male= (malesum/malecount)
avgpergender_female= (femalesum/femalecount)
avgpergender_other= (othersum/othercount)

#make dataframe to table
purchase= pd.DataFrame ({"Gender" : ["Male", "Female", "Other / Non-Disclosed"],
                        " Purchase Count": [malecount, femalecount, othercount],
                        "Average Purchase Price" : [malemean, femalemean, othermean],
                        "Total Purchase Value" : [malesum, femalesum, othersum],
                        "Avg Total Purchase per Person" : [avgpergender_male, avgpergender_female, avgpergender_other]
                                     })


purchase.style.format({"Average Purchase Price": "${:.2f}","Avg Total Purchase per Person": "${:.2f}", "Total Purchase Value":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
#bin, groupby, calculate, make data frame, format

#bins, use player 2?
bins = [0,10,14,19,24,29,34,39,40]
group_labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(player2["Age"], bins, labels= group_labels)
player2["Age Group"] = pd.cut(player2["Age"], bins, labels=group_labels)

#groupby the "Age Group"
agegroupy = player2.groupby(["Age Group"])

#calculate
#total count
Total= agegroupy["Age"].count()

#percent
ageperc= sum(Total)
agepercent= (Total/ageperc)*100


#make data frame
age_group= pd.DataFrame({ "Total Count": Total,
                         "Percent" : agepercent
                        })
age_group
    
age_group.style.format({"Percent": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#bin, calculate, make dataframe, format
#make bins, copy paste from previous box and change "players2" into "purchase_data"!

#bin
bins = [0,10,14,19,24,29,34,39,40]
group_labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], bins, labels= group_labels)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#calculate
#Purchase Count
#groupby since there are 2 columns 
#"price" is inserted to match "Age Group"
agepurch = purchase_data.groupby(["Age Group"]).count()["Price"]  #"price" can be renamed to any column

#total purchase value
pricepurch= purchase_data.groupby(["Age Group"]).sum()["Price"] 

#Average Purchase Price
avgpurch = pricepurch/Total 

#Avg Total Purchase per Person      
perPerson = pricepurch/Total

#make dataframe!
age_purchase= pd.DataFrame({ "Purchase Count": agepurch,
                             "Average Purchase Price" : avgpurch,
                            "total purchase value" : pricepurch,
                            "Avg Total Purchase per Person" : perPerson
                        })   #remove brackets to show clean data table


#format
#in single dict
age_purchase.style.format({"Average Purchase Price" : "${:.2f}" , "total purchase value" : "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
#sort values
#div
#groupby
# use usernames and find their purchases
 

#count
topcount= purchase_data.groupby(["SN"]).count()["Price"]

#sum
toppurch= purchase_data.groupby(["SN"]).sum()["Price"]

#avg
spendavg= toppurch/topcount

#sort
#make dataframe
topspend= pd.DataFrame({"Purchase Count" : topcount,
                       "Average Purchase Price" : spendavg,
                        "Total Purchase Value" : toppurch
                       })

#sort

spender= topspend.sort_values("Purchase Count", ascending=False).head()
spender.style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:

itemdata= purchase_data.loc[ :, ["Item ID", "Item Name", "Price"]]

#calculations

#item count
itemcount= itemdata.groupby(["Item ID", "Item Name"]).count()["Price"]

# itemcount
                                
itemtotal = itemdata.groupby(["Item ID", "Item Name"]).sum()["Price"]

itemprice = itemdata.groupby(["Item ID", "Item Name"]).mean()["Price"]


items= pd.DataFrame({"Item Count": itemcount,
                     "Item Total": itemtotal,
                      "Item Price" : itemprice
                     })

#format

profit= items.sort_values("Item Count", ascending=False).head()
profit.style.format({"Item Total" : "${:.2f}" , "Item Price" : "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the data frame

In [11]:

itemdata= purchase_data.loc[ :, ["Item ID", "Item Name", "Price"]]

#calculations

#item count
itemcount= itemdata.groupby(["Item ID", "Item Name"]).count()["Price"]

# itemcount
                                
itemtotal = itemdata.groupby(["Item ID", "Item Name"]).sum()["Price"]

itemprice = itemdata.groupby(["Item ID", "Item Name"]).mean()["Price"]


# #purchase_data.loc["Price"]
#itemprice = purchase_data.loc[:,"Price"]
#itemprice
# #item total
# itemtotal= purchase_data.groupby(["Item Name"]).sum()["Price"]
# itemprice

items= pd.DataFrame({"Item Count": itemcount,
                     "Item Total": itemtotal,
                      "Item Price" : itemprice
                     })
# items.dropna()

#formatdo
profit= items.sort_values("Item Count", ascending=False).head()
profit.style.format({"Item Total" : "${:.2f}" , "Item Price" : "${:.2f}"})