### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#number of players: do SN to count the names, w/o counting duplicate use unique
#when using unique use len
players= len(purchase_data["SN"].unique())
# Create a data frame with total players named player count
count = pd.DataFrame({"players count":[players]})
count

   players count
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#number of unique items
# with len for unique. unique item use unique (not sure but it sounds like it make sense)
unique_items = len(purchase_data["Item ID"].unique())

#average price
#name=df[].mean()
Average_Price = purchase_data["Price"].mean()

#Number of Purchases
#same formula^^
Number_of_Purchases = purchase_data["Purchase ID"].count()

#sum
#same same
total_revenue = purchase_data["Price"].sum()

#summary data frame 
# make dictionary?
#df.add: is it simplier or more complicated?
#purchase_data["Number of Unique Items"]= len(purchase_data["Item ID"].unique())?
    #^no!
#make new dataframe, do method 1: list of dictionaries
#words not in quotes belong in brackets
#assign names to bracket values in a dictionary

#use pd.DataFrame to make a table from the dict!!! otherwise it wont be organized

summ_df = pd.DataFrame({"unique items": [unique_items],
               "Average Price": [Average_Price],
               "Number of Purchases" : [Number_of_Purchases],
               "total revenue" :[total_revenue]})
summ_df

#  add dollars and 2 decimals for price and revenue
#summ_df.style.format= ({"Average Price":"${:.2f}"})
#summ_df.style.format= ({"total revenue" : "${:.2f}"})
#summ_df.format
    #^^^doesn't work
    
#combine!
summ_df.style.format({"Average Price": "${:.2f}", "total revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Total count 
#make a variable that'll hold the total to use for calculations
allGender= purchase_data["SN"].count()

#match gender to usernames. "SN"

# count for sum
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
other = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

# calc for percent

malecalc= ((malecount/allGender)*100)
femalecalc= ((femalecount/allGender)*100)
othercalc= ((other/allGender)*100)

#make new dataframe to compile results

genders = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                        "Total Count": [malecount, femalecount, other],#no quotations, they hold the count
                        "Percentage of Players": [malecalc, femalecalc, othercalc]
                       })

genders.style.format({"Percentage of Players": "{:.2f}%" })


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Purchase analysis for all genders
#same formats just change names and .formulas. use count, mean, sum respectively
#Purchase Count
#use price and gender
#use count to count total of each gender 
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
othercount = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

# avg purchase price
# use .mean to get mean
malemean = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
femalemean = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
othermean = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()


#purchase total per gender
#use .sum to sum total purchase
malesum = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
femalesum = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
othersum = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

#avg purchase by  the total poeple in a gender
#use variables ^^ to calculate
#use the sum of total purchase per gender and divide by the count per gender so...
# use malesum/malecount
avgpergender_male= (malesum/malecount)
avgpergender_female= (femalesum/femalecount)
avgpergender_other= (othersum/othercount)

#make dataframe to table
purchase= pd.DataFrame ({"Gender" : ["Male", "Female", "Other / Non-Disclosed"],
                        " Purchase Count": [malecount, femalecount, othercount],
                        "Average Purchase Price" : [malemean, femalemean, othermean],
                        "Total Purchase Value" : [malesum, femalesum, othersum],
                        "Avg Total Purchase per Person" : [avgpergender_male, avgpergender_female, avgpergender_other]
                                     })


purchase.style.format({"Average Purchase Price": "${:.2f}","Avg Total Purchase per Person": "${:.2f}", "Total Purchase Value":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
#age data analysis 
#print(purchase_data["Age"].max())
#print(purchase_data["Age"].min())

bins = [0,10,14,19,24,29,34,39,40]
group_labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], bins, labels= group_labels)


purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
#purchase_data.head()

purchase_group = purchase_data.groupby("Age Group", "SN")

#Total_count= pd.DataFramepurchase_group(["Age Group"]).count()
#Total_count.columns= ["Total Count"]

purchase_group[["Total Count", "Percentage of Players"]]
age_group = pd.DataFrame ({ "Age Groups" : [group_labels],
                          "Total Count": [Total_count],
                          })
age_group
#age_group[["Age Groups", "Total Count"]].count() 
#age_group
#output= (
      #  f"Age Groups: {group_labels}"+
       # f"Total Count: {Total_count}")
#print (output)

ValueError: No axis named SN for object type <class 'pandas.core.frame.DataFrame'>

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#purchase by age only
bins = [0,10,14,19,24,29,34,39,40]
group_labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], bins, labels= group_labels)

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
#purchase_data.head()

purchase_group = purchase_data.groupby("Age Group")

Total_count= purchase_group["Age Group"].count()

#new code
purchcount = purchase_group[purchase_group["Age Group"] + ["Item Name"].sum()

SyntaxError: unexpected EOF while parsing (<ipython-input-25-f0b43261c185>, line 14)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame